html {
    background: #43324d;
    background-image: linear-gradient(135deg, #412F47 20%, #463958 80%);
    background-attachment: fixed;
    font-family: Verdana;
    color: white;
}

a, p {
    color: white;
}

#contents h5 {
    text-align: center;
    text-decoration: underline;
    margin: 5px;
}

#contents a {
    display: block;
    padding: 8px 16px;
}   

#contents {
    width: 10%;
    margin: 0px;

    box-shadow: 2px 2px #39273B;
    background: #3F2B41;
}

#contents a:hover:not(#current) {
    background-color: #43324D;
}